// Font
$mainFont                : Proxima Nova, sans-serif;
$secondFont              : Museo Cyrl, sans-serif;;

// Size
$mainFontColor           : #3A3F5C;
$mainFontSize            : 10px;
$mainFontWeight          : 400;
$mainLineHeight          : 16;



$xxxl-width               : 2028px;
$xxl-width                : 1560px;
$xl-width                 : 1200px;
$lg-width                 : 992px;
$md-width                 : 720px;
$sm-width                 : 540px;

// Main color
$default-color           : #ffffff;
$primary-color-header    : #FF7000;
$primary-color           : #FE7E1A;
$danger-colors           : #FF4C13;
$success-color           : #39B54A;
$dark-color              : #3A3F5C;
$gray-color              : #9396A6;
$light-color             : #F4F5F7;
$icon-color              : #E1E3E8;
$footer-color            : #1C2036;
$weekend-color           : #3D415B;




$transition              :all .3s ease;
$boxShadowBtn            :0px 2px 5px rgba(255, 136, 47, 0.5), 0px 10px 35px rgba(255, 136, 47, 0.4);


