.chart{

  &-item{
    width:110px;
    height:110px;

    @media screen and (max-width:$lg-width) {
      width:80px;
      height:80px;
    }
  }

  &-one{
    fill:#FF882F;
  }

  &-two{
    fill:#E1E3E8;
  }

  &-text{
    font-family: $secondFont;
    font-size: 31px;
    color: #3A3F5C;

    @media screen and (max-width:$lg-width) {
      font-size: 24px;
    }
  }

  &-title{
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    bottom:-10px;

    @media screen and (max-width:$lg-width) {
      font-size: 8px;
      line-height: 10px;
    }
  }
}


